<div class="jumbotron">
    <h1>myW</h1>
    <p class="lead">lem's weight.</p>
</div>
<div class="row" div id="example" ng-app="myW">
    <div class="col-md-12" ng-controller="WeightCtrl">
        <h2>Weight</h2>
        <p>Over time.</p>
        <div kendo-chart
             k-legend="{ position: 'bottom' }"
             k-series="[
                { field: 'morning', name: 'Morning measurements', categoryField: 'date', color: '#ff0000' },
                { field: 'midday', name: 'Any measurements during the day' , categoryField: 'date', color: '#00ff00' },
                { field: 'evening', name: 'Evening measurements' , categoryField: 'date', color: '#0000ff' }
             ]"
             k-series-defaults="{ type: 'line', missingValues: 'gap' }"
             k-data-source="weight" style="height: 500px;"
             k-category-axis="{ field: 'date', baseUnit: 'days', labels: { background: 'green', color: 'white', dateFormats: { days: 'dd.MM' }, rotation: -45 } }"
             k-tooltip="{ visible: true, format: '{0} kg', template: '#= category #  #= value #' }">
        </div>
    </div>
</div>
</div>
